<!DOCTYPE html>
<%- include('../partials/theme.ejs'); %>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <link rel="stylesheet" href="/assets/tailwind.css">

    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>

    <body>

        <div class="w-full h-full px-32">

            <!-- Navbar -->

            <%- include('../partials/navbar.ejs', {pictureURL}); %>

                <!-- Highscore and Timer -->

                <%- include('../partials/typingData.ejs', {leaderboard: false, leaderboardUserPictureURL:
                    highScoreDetails.userId.pictureURL}); %>

                    <!-- Typing Area -->

                    <%- include('../partials/typingArea.ejs'); %>


        </div>

        <!-- Show Highscore details -->

        <%- include('../partials/highscoreDetails.ejs', {leaderboard: true, netWPM: highScoreDetails.netWPM, placement,
            accuracy: highScoreDetails.accuracy, dateAchieved: highScoreDetails.dateAchieved, leaderboardUserUsername:
            highScoreDetails.userId.username, leaderboardUserPictureURL: highScoreDetails.userId.pictureURL }); %>


            <!-- Show Results -->

            <dialog id="results-modal" class="modal" checked="true">
                <div class="modal-box w-fit max-w-5xl">
                    <h3 class="font-bold text-lg">Results</h3>
                    <!-- <p class="py-4">Press ESC key or click the button below to close</p> -->

                    <!-- Other user -->
                    <div class="stats stats-vertical lg:stats-horizontal shadow place-items-center">

                        <div class="stat">
                            <div class="flex flex-col justify-center items-center">

                                <div class="bg-neutral text-neutral-content rounded-full w-12">
                                    <img src="<%= highScoreDetails.userId.pictureURL %>" alt="">
                                </div>

                                <div class="stat-title py-2">
                                    <%= highScoreDetails.userId.username %>
                                </div>

                            </div>
                        </div>

                        <div class="stat">
                            <div class="stat-title">Gross WPM</div>
                            <div class="stat-value">
                                <%= highScoreDetails.grossWPM %>
                            </div>
                            <!-- <div class="stat-desc">Jan 1st - Feb 1st</div> -->
                        </div>

                        <div class="stat">
                            <div class="stat-title">Net WPM</div>
                            <div class="stat-value">
                                <%= highScoreDetails.netWPM %>
                            </div>
                            <!-- <div class="stat-desc">↗︎ 400 (22%)</div> -->
                        </div>

                        <div class="stat">
                            <div class="stat-title">Accurcay</div>
                            <div class="stat-value">
                                <%= highScoreDetails.accuracy %>%
                            </div>
                            <!-- <div class="stat-desc">↘︎ 90 (14%)</div> -->
                        </div>

                    </div>

                    <!-- current user -->

                    <div class="stats stats-vertical lg:stats-horizontal shadow place-items-center">

                        <div class="stat">
                            <div class="stat-value">You</div>
                        </div>

                        <div class="stat">
                            <div class="stat-title">Gross WPM</div>
                            <div class="stat-value" id="gross-wpm"></div>
                            <!-- <div class="stat-desc">Jan 1st - Feb 1st</div> -->
                        </div>

                        <div class="stat">
                            <div class="stat-title">Net WPM</div>
                            <div class="stat-value" id="net-wpm"></div>
                            <!-- <div class="stat-desc">↗︎ 400 (22%)</div> -->
                        </div>

                        <div class="stat">
                            <div class="stat-title">Accurcay</div>
                            <div class="stat-value" id="accuracy"></div>
                            <!-- <div class="stat-desc">↘︎ 90 (14%)</div> -->
                        </div>

                    </div>

                    <div class="modal-action">
                        <form method="dialog">
                            <button class="btn" id="retry-button">Retry</button>
                        </form>
                    </div>

                </div>
            </dialog>

            <!-- Other -->

            <div class="hidden" id="hidden-full-text">
                <%- text %>
            </div>

    </body>
    <script src="/pages/leaderboardTextReplay/script.js" type="module"></script>

    </html>