<!DOCTYPE html>
<html lang="en" data-theme="black">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<link rel="stylesheet" href="/tailwind.css">
<script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>

<body>


    <div class="w-full h-full px-32">

        <!-- Navbar -->

        <div class="navbar bg-base-100">
            <div class="flex-1">
                <a class="btn btn-ghost text-xl">daisyUI</a>
                <ul class="menu menu-horizontal px-1">
                    <li><a>Link</a></li>
                </ul>
            </div>
            <div class="flex-none">
                <ul class="menu menu-horizontal px-1">

                    <div class="items-center">
                        <!-- add username if needed -->
                        <div class="avatar placeholder cursor-pointer" onclick="window.location.href='/auth/login'">
                            <div class="bg-neutral text-neutral-content rounded-full w-12">

                                <img src="<%= pictureURL %>" alt="">

                            </div>
                        </div>
                    </div>


                </ul>
            </div>
        </div>

        <!-- Live Stats -->

        <div class="flex flex-row justify-between">

            <!-- Live WPM and Highscore -->

            <div class="stats shadow">

                <div class="stat place-items-center">
                    <div class="stat-title">WPM</div>
                    <div class="stat-value" id="live-gross-wpm">0</div>
                    <!-- <div class="stat-desc">From January 1st to February 1st</div> -->
                </div>

                <div class="stat place-items-center cursor-pointer" onclick="highscore_details_modal.showModal()"
                    hx-get="/user/placement" hx-target="#highscore_details_modal #placement">
                    <div class="stat-title">High Score</div>
                    <div class="stat-value" id="high-score">
                        <%= highScoreDetails.netWPM %>
                    </div>
                    <!-- <div class="stat-desc">From January 1st to February 1st</div> -->
                </div>

            </div>

            <!-- Time Elapsed -->

            <div class="stats shadow">

                <div class="stat place-items-center">
                    <div class="stat-value" id="timer">0s</div>
                    <!-- <div class="stat-desc">From January 1st to February 1st</div> -->
                </div>

            </div>

        </div>

        <!-- Typing Area -->

        <div class="relative w-full h-[500px]">

            <div class="relative mockup-window border border-base-300 h-full">

                <div class="cursor-pointer blur-sm p-5 border-t border-base-300 resize-none text-2xl text-gray-400"
                    id="textSection">
                    <% let formattedText=text.split("").map(char=> `<span id='textChar'
                            class='py-1'>${char}</span>`).join(""); %>
                        <%- formattedText %>
                </div>

            </div>

            <div class="absolute top-0 w-full h-full flex justify-center items-center text-lg cursor-pointer"
                id="blurOverlay">
                Click here or press any key to focus
            </div>

        </div>


        <!-- Show Results -->

        <dialog id="results-modal" class="modal" checked="true">
            <div class="modal-box">
                <h3 class="font-bold text-lg">Results</h3>
                <!-- <p class="py-4">Press ESC key or click the button below to close</p> -->

                <div class="stats stats-vertical lg:stats-horizontal shadow place-items-center">

                    <div class="stat">
                        <div class="stat-title">Gross WPM</div>
                        <div class="stat-value" id="gross-wpm"></div>
                        <!-- <div class="stat-desc">Jan 1st - Feb 1st</div> -->
                    </div>

                    <div class="stat">
                        <div class="stat-title">Net WPM</div>
                        <div class="stat-value" id="net-wpm"></div>
                        <!-- <div class="stat-desc">↗︎ 400 (22%)</div> -->
                    </div>

                    <div class="stat">
                        <div class="stat-title">Accurcay</div>
                        <div class="stat-value" id="accuracy"></div>
                        <!-- <div class="stat-desc">↘︎ 90 (14%)</div> -->
                    </div>

                </div>

                <div class="modal-action">
                    <form method="dialog">
                        <button class="btn" onclick="resetVariablesForRetry(); this.blur()">Retry</button>
                    </form>
                </div>

            </div>
        </dialog>


        <!-- Show Highscore details -->

        <dialog id="highscore_details_modal" class="modal">
            <div class="modal-box w-fit max-w-5xl">

                <h3 class="font-bold text-lg">Highscore</h3>

                <div class="stats stats-vertical lg:stats-horizontal shadow place-items-center">

                    <div class="stat">
                        <div class="stat-title">Net WPM</div>
                        <div class="stat-value" id="net-wpm">
                            <%= highScoreDetails.netWPM %>
                        </div>
                        <!-- <div class="stat-desc">↗︎ 400 (22%)</div> -->
                    </div>

                    <div class="stat">
                        <div class="stat-title">Accurcay</div>
                        <div class="stat-value" id="accuracy">
                            <%= highScoreDetails.accuracy %>%
                        </div>
                        <!-- <div class="stat-desc">↘︎ 90 (14%)</div> -->
                    </div>

                    <div class="stat">
                        <div class="stat-title">Date Achieved</div>
                        <div class="stat-value" id="date-achieved">
                            <%= highScoreDetails.dateAchieved.toLocaleDateString() %>
                        </div>
                        <!-- <div class="stat-desc">↘︎ 90 (14%)</div> -->
                    </div>

                    <div class="stat">
                        <div class="stat-title">Placement</div>
                        <div class="stat-value" id="placement"></div>
                        <!-- <div class="stat-desc">↘︎ 90 (14%)</div> -->
                    </div>

                </div>

                <div class="modal-action">
                    <form method="dialog">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
                            onclick="this.blur()">✕</button>
                        <button class="btn" onclick="this.blur()">Play</button>
                    </form>
                </div>

            </div>
        </dialog>

    </div>



    <div class="hidden" id="hidden-full-text">
        <%- text %>
    </div>

</body>
<script src="/script.js"></script>

</html>